.container-text--descrition {
    h4 {
      margin: 0;
      font-weight: 500;
      color: $gray-dark;
    }
    p {
    font-size: 12px;
    margin: 0px 6px;
    color: $gray;
    }
}
.container-text-relatedComics {
  h5{
      margin: 22px 0 0 0px;
      color: $gray;
  }
  p {
      font-size: 12px;
      float: left;
      margin: 13px 50px 0 0;
      color: $gray;
  }
}
.container-favorite{
  p{
    color: $gray-dark;
    font-size: 26px;
    margin: 16px 0 0 0;
    font-weight: 500;
  }
}
