.container-text--descrition {
    h4 {
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      color: $gray-dark;
    }
    p {
      font-size: 12px;
      margin: 8px 6px 0;
      color: $gray;
      height: 88px;
    }
}
.container-text-relatedComics {
  h5 {
      margin: 22px 0 0 11px;
      color: $gray;
  }
  p {
    font-size: 12px;
    float: left;
    margin: 13px 0 0 0;
    color: $gray;
    width: 155px;
    padding: 0 0 0 11px;
  }
}
.container-favorite{
  p {
    color: $gray-dark;
    font-size: 26px;
    margin: 16px 0 0 0;
    font-weight: 500;
  }
}
.footer-paragraph {
    margin: 0;
    float: left;
    font-weight: 500;
}
