.logo {
  background-image: url(../images/Marvel_Comics_logo.png);
  width: 140px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 6px 0 0 19px;
}
i.material-icons.prefix {
    top: 0px;
    right: 0;
    color: gray;
}
i.material-icons.prefix.active {
    color: $red !important;
}
.icon {
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 13px;
}
.characters{
  background-image: url(../icons/characters.png);
  width: 41px;
  height: 42px;
}
.favorite{
  background-image: url(../icons/favourites.png);
  width: 41px;
  height: 42px;
  margin-right: 9px;
}
.logo-grability {
  background-image: url(../images/grability-logo.png);
  width: 41px;
  height: 41px;
  margin: 0;
}
