.logo {
  background-image: url(../images/Marvel_Comics_logo.png);
  width: 140px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 6px 0 0 19px;
}
i.material-icons.prefix {
    top: 0px;
    right: 0;
    color: gray;
}
i.material-icons.prefix.active {
    color: $red !important;
}
