body {
  background: #f4f4f4; }

footer {
  background: #2d2727 !important;
  margin: 0 !important;
  padding: 0 !important; }

.container-circule--image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: 63px;
  bottom: 30px; }

.container-text--descrition {
  position: relative;
  bottom: 193px;
  left: 120px;
  width: 172px;
  height: 190px;
  text-align: justify; }

.container-text-relatedComics {
  position: relative;
  bottom: 196px;
  right: 14px;
  width: 311px; }

.container-favorite {
  min-height: 100% !important;
  background: #ebebeb;
  height: 100%;
  padding: 0 0.75rem 100% 0.75rem !important; }

.container-card--character {
  height: 340px;
  background: white;
  margin: 23px 0 0 0;
  width: 40%;
  float: left;
  margin: 25px 0 30px 57px;
  padding: 0px 13px; }

.container-filter--character {
  height: 61px; }

.container-flex {
  display: flex; }

.no-margins {
  margin: 0 !important; }

.footer-copyright {
  height: 100% !important;
  padding: 13px 0; }

.container-center {
  display: table;
  margin: 0 auto; }

.container-favorite--title {
  margin-left: 3%; }

.container-comics--favorite {
  position: relative;
  height: 400px;
  top: 19px;
  margin-bottom: 20px; }

.comics-read {
  background: black;
  width: 80%;
  height: 80%;
  margin-left: 35px; }

.modal-content {
  padding: 0 !important;
  height: 300px; }

.btn-close--modal {
  float: right;
  border-radius: 50%;
  background: black;
  width: 30px;
  height: 30px;
  color: white;
  padding: 0px 0 0 5px;
  line-height: 30px;
  margin: 6px 8px 0 0; }

.container-modal--content {
  position: relative;
  top: 41px;
  height: 209px; }

.container-button--modal {
  width: 100%;
  height: 60px; }

nav {
  background: #2d2727 !important; }

.input-search {
  background: #fff !important;
  height: 31px !important;
  color: red !important;
  border-color: red !important;
  width: 97% !important; }

ul.pagination {
  margin: 0;
  margin-bottom: 26px; }

li.waves-effect {
  height: 40px; }

a.item.item-avatar {
  border: none;
  padding-left: 140px; }

.item-avatar img {
  left: 87px !important; }

.button-size {
  width: 105px;
  padding: 0;
  margin-top: 14px; }

.btn-pagination {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.34);
  padding: 2px 0 0 0;
  width: 44px;
  height: 41px;
  margin: 0 3px 0 3px;
  font-weight: bold; }

.btn-pagination:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.1) !important; }

button[disabled], html input[disabled] {
  color: rgba(128, 128, 128, 0.57); }

.container-text--descrition h4 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #2d2727; }
.container-text--descrition p {
  font-size: 12px;
  margin: 8px 6px 0;
  color: #786e6f;
  height: 88px; }

.container-text-relatedComics h5 {
  margin: 22px 0 0 11px;
  color: #786e6f; }
.container-text-relatedComics p {
  font-size: 12px;
  float: left;
  margin: 13px 0 0 0;
  color: #786e6f;
  width: 155px;
  padding: 0 0 0 11px; }

.container-favorite p {
  color: #2d2727;
  font-size: 26px;
  margin: 16px 0 0 0;
  font-weight: 500; }

.footer-paragraph {
  margin: 0;
  float: left;
  font-weight: 500; }

.container-comics--favorite .comics-read {
  background: black;
  width: 80%;
  height: 80%;
  margin-left: 35px;
  background-repeat: no-repeat;
  background-size: cover; }

.container-modal--content .comics-view {
  height: 250px;
  width: 190px;
  float: left;
  margin: 0 27px;
  background: black; }
.container-modal--content p {
  color: #786e6f;
  height: 161px;
  overflow-y: scroll;
  padding-right: 13px; }

.container-button--modal .btn-modal {
  width: 50%;
  float: left;
  height: 100%;
  border: none;
  color: red;
  font-weight: bold; }
.container-button--modal .btn-modal:focus {
  background: #2d2727 !important; }
.container-button--modal .btn-add {
  background: #ecebeb; }
  .container-button--modal .btn-add p {
    color: black; }

.logo {
  background-image: url(../images/Marvel_Comics_logo.png);
  width: 140px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 6px 0 0 19px; }

i.material-icons.prefix {
  top: 0px;
  right: 0;
  color: gray; }

i.material-icons.prefix.active {
  color: #ec1d23 !important; }

.icon {
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 13px; }

.characters {
  background-image: url(../icons/characters.png);
  width: 41px;
  height: 42px; }

.favorite {
  background-image: url(../icons/favourites.png);
  width: 41px;
  height: 42px;
  margin-right: 9px;
  margin-top: 0; }

.favorite-black {
  background-image: url(../icons/btn-favourites-default.png);
  width: 41px;
  height: 42px;
  position: relative;
  bottom: 7px;
  left: 56px; }

.shopping {
  background-image: url(../icons/shopping-cart-primary.png);
  width: 41px;
  height: 42px;
  position: relative;
  bottom: 7px;
  left: 90px;
  border-radius: 50%; }

.logo-grability {
  background-image: url(../images/grability-logo.png);
  width: 50px;
  height: 50px;
  margin: 0; }

/*# sourceMappingURL=CMA.css.map */
