.visible-favorite {
	display: block;
}
.hide-favorite {
	display: none !important;
}
.hide-button--favorite {
    width: 50%;
    display: table;
    position: absolute;
    background: #d50032;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 17px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}
