body{
  background: $gray-ligth;
}
footer{
  background: $gray-dark !important;
  margin: 0 !important;
  padding: 0 !important;
}
.container-circule--image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 63px;
    bottom: 30px;
}
.container-text--descrition {
    position: relative;
    bottom: 193px;
    left: 120px;
    width: 172px;
    height: 190px;
    text-align: justify;
}
.container-text-relatedComics {
    position: relative;
    bottom: 196px;
    right: 14px;
    width: 311px;
}
.container-favorite{
    min-height: 100% !important;
    background: $gray-semi-ligth;
    height: 100%;
    padding: 0 0.75rem 100% 0.75rem !important;
}
.container-card--character{
    height: 340px;
    background: white;
    margin: 23px 0 0 0;
    width: 40%;
    float: left;
    margin: 25px 0 30px 57px;
    padding: 0px 13px;
}
.container-filter--character {
    height: 61px;
}
.container-flex {
    display: flex;
}

.no-margins {
    margin: 0 !important;
}
.footer-copyright {
    height: 100% !important;
    padding: 13px 0;
}
.container-center {
  display: table;
  margin: 0 auto;
}
