.input-search {
    background: $white !important;
    height: 31px !important;
    color: red !important;
    border-color: red !important;
    width: 420px !important;
    padding-right: 2rem !Important;
}
