<nav class="grey-darken">
   <div class="nav-wrapper">
     <div class="row">
       <div class="col m3 s5">
         <a href="#" class="brand-logo"><div class="logo">
         </div></a>
       </div>
       <div class="input-field col s6">
          <input placeholder="Search" id="first_name" type="text" class="validate input-search" ng-model="searchText">
          <i class="material-icons prefix">search</i>
        </div>
       <div class="col m3 s0">
       </div>
     </div>
      </div>
   </div>
 </nav>
