<nav class="grey-darken">
   <div class="nav-wrapper">
     <div class="row">
       <div class="col s3">
         <a href="#" class="brand-logo"><div class="logo">
         </div></a>
       </div>
       <div class="input-field col s6">
          <input placeholder="Search" id="first_name" type="text" class="validate input-search" ng-model="searchText">
          <i class="material-icons prefix">search</i>
        </div>
       <div class="col s3">
       </div>
     </div>
      </div>
   </div>
 </nav>
 <div class="row no-margins">
   <div class="col s9">
     <div class="row container-filter--character">
       <div class="col s4">
         <div class="container-flex">
           <i class="icon characters"></i><h4>Characters</h4>
         </div>
       </div>
       <div class="col s5">
       </div>
       <div class="col s3">
         <div class="input-field col s12">
           <select ng-model="orderList">
             <option value="" disabled selected>Sort by</option>
             <option value="name">name</option>
             <option value="modified">Modified</option>
           </select>
         </div>
       </div>
     </div>
    <div class="row">
      <div class="container-card--character" ng-repeat="character in characters | orderBy: orderList | startFromGrid: currentPage * pageSize | limitTo: pageSize | filter:searchText as rest ">
        <div class="container-circule--image" style="background-image: url({{character.thumbnail.path}}/portrait_fantastic.jpg);">
        </div>
        <div class="container-text--descrition">
          <h4>{{character.name}}</h4>
          <p ng-show="character.description">{{character.description | limitTo: 120}}</p>
          <p ng-hide="character.description">The hero no have Description</p>
        </div>
        <div class="container-text-relatedComics">
        <a class="waves-effect waves-light btn red button-size" ng-href="#demoModal" ng-click="main_variable(character.id)" modal>VIEW MORE</a>
          <h5>Related Comics</h5>
          <p ng-show="character.stories.items[0].name">{{character.stories.items[0].name | limitTo: 20}}</p>
          <p ng-show="character.events.items[0].name">{{character.events.items[0].name  | limitTo: 20}}</p>
          <p ng-show="character.comics.items[0].name">{{character.comics.items[0].name  | limitTo: 20}}</p>
          <p ng-show="character.events.items[0].name">{{character.events.items[0].name  | limitTo: 20}}</p>

        </div>
      </div>
      </div>
      <div class="row">
        <div class="container-center">
          <ul class="pagination">
            <li><button class="btn-pagination" ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'  ng-click='currentPage = currentPage - 1'><i class="material-icons">chevron_left</i></button></li>
            <li  ng-repeat='page in pages'><button class="btn-pagination" ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' >{{page.no}}</button></li>
            <li><button class="btn-pagination" ng-disabled='currentPage >= characters.length/pageSize - 1' ng-click='currentPage = currentPage + 1'><i class="material-icons">chevron_right</i></button></li>
          </ul>
        </div>
      </div>
    </div>
   <div class="col s3 container-favorite">
     <div class="container-favorite--title">
       <i class="icon favorite"></i><p>My Favorites</p>
     </div>
     <div class="container-comics--favorite" ng-repeat="user in users">
        <div class="comics-read" style="background-image: url({{user.images}});">
        </div>
        <p>{{user.title}}</p>
     </div>
  </div>
   </div>
 </div>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container">
      <p class="footer-paragraph">Grability 2017 - Todos los Derechos Reservados</p>
      <a class="icon logo-grability text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-close--modal"> <i class="material-icons">close</i></a>
        <div class="container-modal--content">
          <div class="comics-view" style="background-image: url({{characterComics.thumbnail.path}}/portrait_fantastic.jpg);"></div>
          <h4>{{characterComics.title}}</h4>
          <h4 ng-show="characterCs == 0">Hero unavailable</h4>
          <p>{{characterComics.description}}</p>
        </div>
    </div>
    <div class="container-button--modal">
      <button type="button" name="button" class="btn-modal btn-add" ng-disabled='characterCs == 0' ng-click="add_comics(characterComics.title,characterComics.thumbnail.path)">
          <div class="container-center" style="width: 211px;">
            <i class="icon" ng-class="characterCs == 0? 'favorite-black':'favorite'"></i> <p>
                  ADDED TO FAVORITES
                </p>
          </div>
      </button>
      <button type="button" name="button" class="btn-modal btn-buy">
      <div class="container-center" style="width: 168px;">
          <i class="icon shopping"></i><p>
        BUY FOR {{characterComics.prices[0].price}}
      </p>
      </div>
      </button>
    </div>
</div>
